<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Deleted</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <h1>
      Success Deleted
    </h1>
    <h2>
      <a href="/">Back to Registration</a>
    </h2>
    <h2>
      <a href="/users">Back to User List</a>
    </h2>
  </body>
</html>