<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Data Import</title>
  </head>
  <body>
    <h1>Data Import</h1>
    <form action="/import" method="post" enctype="multipart/form-data">
      <label for="file">Pilih file Excel:</label>
      <input type="file" id="file" name="file" accept=".xlsx">
      <button type="submit">Import Data</button>
    </form>
  </body>
</html>

